:root {
    --main-bg-color: white;
    --main-fg-color: black;
    --gray-bg-color: lightgray;

    --chat-bg-color: black;
    --chat-fg-color: lime;

    --help-bg-color: white;
    --help-fg-color: black;
    --help-bd-color: gray;

    --save-bg-color: whitesmoke;
    --save-fg-color: firebrick;
    --save-bd-color: dimgray;

    --compass-bg-color: silver;
    --compass-fg-color: black;
    --compass-ds-color: silver;
    --compass-do-color: darkgrey;
    --compass-light-color: white;
    --compass-dark-color: black;

    --button-bg-color: rgb(239, 239, 239);
    --button-fg-color: black;
    --button-bd-color: rgb(118, 118, 118);
    --button-dbg-color: rgba(239, 239, 239, 0.3);
    --button-dfg-color: rgba(16, 16, 16, 0.3);
    --button-dbd-color: rgba(118, 118, 118, 0.3);

    --abjure-bg: #AAAAFF;
    --abjure-fg: darkblue;
    --abjure-bd: darkblue;
    
    --acquire-bg: gold;
    --acquire-fg: black;
    --acquire-bd: darkgoldenrod;

    --aggress-bg: #FFAAAA;
    --aggress-fg: darkred;
    --aggress-bd: darkred;
    
    --assess-bg: #AAFFAA;
    --assess-fg: darkgreen;
    --assess-bd: darkgreen;

    --assist-bg: white;
    --assist-fg: black;
    --assist-bd: black;

    --apprehend-bg: #FFDDAA;
    --apprehend-fg: darkorange;
    --apprehend-bd: darkorange;
    
    --worker-bg: burlywood;
    --worker-fg: saddlebrown;
    --worker-bd: saddlebrown;

    --attack-gray-color: rgb(197, 197, 197);
    --attack-exblock: #888888;
    --attack-zero: #000000;
    --attack-miss: #000000;
    --attack-border: #FFFFFF;

    --pale-crit: #FFFF00;
    --pale-hit: #FFFF88;
    --pale-dodge: #b98d29;
    --pale-halfdam: #FFFF88;
    --pale-damage: #FFFF00;
    --pale-block: #b98d29;
    
    --red-crit: #FF0000;
    --red-hit: #FF8888;
    --red-dodge: #880000;
    --red-halfdam: #FF8888;
    --red-damage: #FF0000;
    --red-block: #880000;

    --blue-crit: #0000FF;
    --blue-hit: #8888FF;
    --blue-dodge: #000088;
    --blue-halfdam: #8888FF;
    --blue-damage: #0000FF;
    --blue-block: #000088;

    --health-full: #FF0000;
    --health-empty: #884444;
    --stamina-full: #FFFF00;
    --stamina-empty: #b98d29;
    --nutrition-full: #00FF00;
    --nutrition-empty: #448844;
    --mana-full: #FF00FF;
    --mana-empty: #884488;
}

body.darktheme {
    --main-bg-color: black;
    --main-fg-color: white;
    --gray-bg-color: rgb(63, 63, 63);

    --chat-bg-color: black;
    --chat-fg-color: lime;

    --help-bg-color: black;
    --help-fg-color: white;
    --help-bd-color: gray;

    --save-bg-color: whitesmoke;
    --save-fg-color: firebrick;
    --save-bd-color: dimgray;

    --button-bg-color: rgb(59, 59, 59);
    --button-fg-color: white;
    --button-bd-color: rgb(133, 133, 133);
    --button-dbg-color: rgba(19, 1, 1, 0.3);
    --button-dfg-color: rgba(255, 255, 255, 0.3);
    --button-dbd-color: rgba(195, 195, 195, 0.3);

    --compass-bg-color: rgb(63, 63, 63);;
    --compass-fg-color: darkgrey;
    --compass-ds-color: darkgrey;
    --compass-do-color: rgb(118, 118, 118);
    --compass-light-color: white;
    --compass-dark-color: black;
    
    --abjure-bg: darkblue;
    --abjure-fg: #AAAAFF;
    --abjure-bd: #AAAAFF;
    
    --acquire-bg: darkgoldenrod;
    --acquire-fg: white;
    --acquire-bd: gold;

    --aggress-bg: darkred;
    --aggress-fg: #FFAAAA;
    --aggress-bd: #FFAAAA;
    
    --assess-bg: darkgreen;
    --assess-fg: #AAFFAA;
    --assess-bd: #AAFFAA;

    --assist-bg: black;
    --assist-fg: white;
    --assist-bd: white;

    --apprehend-bg: darkorange;
    --apprehend-fg: #FFDDAA;
    --apprehend-bd: #FFDDAA;
    
    --worker-bg: saddlebrown;
    --worker-fg: burlywood;
    --worker-bd: burlywood;
    
    --attack-gray-color: rgb(136, 136, 136);
    --attack-exblock: #888888;
    --attack-zero: #000000;
    --attack-miss: #000000;
    --attack-border: #FFFFFF;

    --pale-crit: #FFFF00;
    --pale-hit: #FFFF88;
    --pale-dodge: #b98d29;
    --pale-halfdam: #FFFF88;
    --pale-damage: #FFFF00;
    --pale-block: #b98d29;
    
    --red-crit: #FF0000;
    --red-hit: #FF8888;
    --red-dodge: #880000;
    --red-halfdam: #FF8888;
    --red-damage: #FF0000;
    --red-block: #880000;

    --blue-crit: #0000FF;
    --blue-hit: #8888FF;
    --blue-dodge: #000088;
    --blue-halfdam: #8888FF;
    --blue-damage: #0000FF;
    --blue-block: #000088;

    --health-full: #884444;
    --health-empty: #440000;
    --stamina-full: #b98d29;
    --stamina-empty: #3b2e0e;
    --nutrition-full: #448844;
    --nutrition-empty: #004400;
    --mana-full: #884488;
    --mana-empty: #440044;
}

body {
    margin: 8px;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

#reactroot {
    position: relative;
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
}

input[type="button"] {
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    border-color: var(--button-bd-color);
}

input[type="button"]:disabled {
    background-color: var(--button-dbg-color);
    color: var(--button-dfg-color);
    border-color: var(--button-dbd-color);
}

div.topbar {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.topleft {
    width: 250px;
    height: 25px;
}

div.topright {
    width: 250px;
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
}

div.titlebar {
    height: 25px;
    width: calc(100vw - 500px);
    border-color: var(--main-fg-color);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

div.statusDisplay {
    white-space: pre-wrap;
    width:100%;
    margin: 3px;
}

div.statusWrapper {
    width: 100%;
    height: calc(100vh - 445px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y:auto;
}

div.leftStatus {
    width: 250px;
    min-height: calc(100vh - 525px);
    border-color: var(--main-fg-color);
    border-style: groove;
    background-color: var(--gray-bg-color);
    display: flex;
    flex-direction: column;
}
div.rightStatus {
    width: 250px;
    min-height: calc(100vh - 525px);
    border-color: var(--main-fg-color);
    border-style: groove;
    background-color: var(--gray-bg-color);
    display: flex;
    flex-direction: column;
}

div.statusRow {
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
}

div.controlTable {
    position: absolute;
    bottom: 235px;
	width: 100%;
	height: 150px;
	background-color: var(--gray-bg-color);
	display: flex;
    flex-direction: row;
}

div.controlColumn {
	height: 100%;
	width: 150px;
	margin-right: 5px;
	display:flex; 
	flex-direction:column;
    overflow-x: visible;
}

div.ctrlLabel {
    min-height: 20px;
    margin-bottom: 5px;
    min-width: 150px;
}

div.saveList {
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
    background-color: var(--save-bd-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

div.save {
    width: calc(100% - 30px);
    height: 100px;
    margin: 15px;
    background-color: var(--save-bg-color);
    color: var(--save-fg-color);
    white-space: pre-wrap;
}

div.refresher {
    height: 25px;
    width: 150px;
    text-align:center;
    background-color:var(--main-bg-color);
    color:var(--main-fg-color);
}

input.actButton {
	width: 150px;
	height: 20px;
	margin-bottom: 5px;
}

div.cardBox {
    display: flex;
    flex-direction: row;
}

div.card {
    width: 145px;
    height: 145px;
    border-style: ridge;
    border-width: thick;
    white-space: pre;
}

div.selectedCard {
    border-style: double;
}

div.abjure {
    background-color: var(--abjure-bg);
    color: var(--abjure-fg);
    border-color: var(--abjure-bd);
}

div.acquire {
    background-color: var(--acquire-bg);
    color: var(--acquire-fg);
    border-color: var(--acquire-bd);
}

div.aggress {
    background-color: var(--aggress-bg);
    color: var(--aggress-fg);
    border-color: var(--aggress-bd);
}

div.assess {
    background-color: var(--assess-bg);
    color: var(--assess-fg);
    border-color: var(--assess-bd);
}

div.assist {
    background-color: var(--assist-bg);
    color: var(--assist-fg);
    border-color: var(--assist-bd);
}

div.apprehend {
    background-color: var(--apprehend-bg);
    color: var(--apprehend-fg);
    border-color: var(--apprehend-bd);
}

div.worker {
    background-color: var(--worker-bg);
    color: var(--worker-fg);
    border-color: var(--worker-bd);
}

div.stack {
    width: 5px;
    height: 145px;
    border-style: ridge;
    border-left-style: none;
    border-width: thick;
}

@keyframes fade-in-from-top {
  0%   { color:var(--help-bg-color); background-color:var(--chat-bg-color); height:0px;}
  100% { color:var(--chat-fg-color); background-color:var(--help-bg-color); height:150px;}
}

div.div-help {
	width: 95%;
	position: absolute;
	top: 15px;
	left:2.5%;
	color: var(--help-fg-color);
	border-color: var(--help-bd-color);;
	border-style: ridge;
	animation-name: fade-in-from-top;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	white-space: pre-wrap;
}

@keyframes fade-out-to-top {
  0%   { color:var(--help-fg-color);  background-color:var(--help-bg-color); height:150px; opacity:1;}
  100% { color:var(--chat-bg-color);  background-color:var(--chat-bg-color); height:0px; opacity:0;}
}

div.div-unhelp {
	width: 95%;
	position: absolute;
	top: 15px;
	left:2.5%;
	color: var(--help-fg-color);    
	border-color: var(--help-bd-color);
	border-style: ridge;
	animation-name: fade-out-to-top;
	animation-duration: 1s;
	opacity:0;
	overflow: hidden;
	white-space: pre-wrap;
}

div.screencover {
    position:fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);    
    display:flex;
    justify-content:center;
}

div.requantifier {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: var(--main-fg-color);
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

div.requantifierRow {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.requantify {
    width: 50px;
    height: 30px;
}

div.requantifierHeaderRow {
    height: 25px;
    display: flex;
    border-bottom-color: var(--main-fg-color);
    border-bottom-style: dashed;
    flex-direction: row;
    justify-content: space-between;
}

div.quantity {
    width:125px;
    text-align:right;
}

div.requantifierLeftColumnHeader {
    width: 500px;
    text-align: left;
}

div.requantifierRightColumnHeader {
    width: 500px;
    text-align: right;
}

div.requantifierHeaderSpacer {
    width: 250px;
    justify-content:center;
    display:flex;
}

div.reassigner {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: var(--main-fg-color);
    background: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

div.reassignerColumn {
    width: 450px;
    display: flex;
    flex-direction: column;
}

div.reassignerRow {
    height: 160px;
    display: flex;
    flex-direction: row;
}

div.reassignerLeftColumnHeader {
    width: 425px;
    text-align: left;
}

div.reassignerRightColumnHeader {
    width: 425px;
    text-align: right;
}

div.reassignerHeaderSpacer {
    width: 100px;
    justify-content: center;
    display: flex;
}


div.recombiner {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: var(--main-fg-color);
    background: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

div.recombinerColumn {
    width: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

div.recombinerRow {
    height: 160px;
    display: flex;
    flex-direction: row;
}

div.recombinerColumnHeader {
    width: 425px;
    text-align: left;
}

div.recombinerHeaderSpacer {
    width: 100px;
    justify-content: center;
    display: flex;
}

div.percentControl {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    border-color: gray;
    border: 3px;
    border-radius: 7px;
    width: fit-content;
}

div.percentText {
    position: absolute;
    justify-content: center;
    color: var(--main-fg-color);
}

div.pale {
    --damage-color: var(--pale-damage);
    --halfdam-color: var(--pale-halfdam);
    --block-color: var(--pale-block);
    --hit-color: var(--pale-hit);
    --crit-color: var(--pale-crit);
    --dodge-color: var(--pale-dodge);
}

div.red {
    --damage-color: var(--red-damage);
    --halfdam-color: var(--red-halfdam);
    --block-color: var(--red-block);
    --hit-color: var(--red-hit);
    --crit-color: var(--red-crit);
    --dodge-color: var(--red-dodge);
}

div.blue {
    --damage-color: var(--blue-damage);
    --halfdam-color: var(--blue-halfdam);
    --block-color: var(--blue-block);
    --hit-color: var(--blue-hit);
    --crit-color: var(--blue-crit);
    --dodge-color: var(--blue-dodge);
}

div.attackControl {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    height: 15px;
    position: relative;
    width: fit-content;
}

div.attackResultText {
    margin-left: 6px;
    color: var(--main-fg-color);
    width: 75px;
    text-align: center;
}

div.attackZones {
    border-style: solid;
    border-width: 1px;
    border-color: var(--attack-gray-color);
    display: flex;
    flex-direction: row;
    position: relative;
}

div.attackZone {
    display:inline;
    height: 13px;
}

div.attackZone.hit {
    background-color: var(--hit-color);
}

div.attackZone.crit {
    background-color: var(--crit-color);
}

div.attackZone.dodge {
    background-color: var(--dodge-color);
}

div.attackZone.miss {
    background-color: var(--attack-miss);
}

div.attackBar {
    background: none;
    border-style: groove;
    border-color: var(--attack-gray-color);
    border-width: 3px;
    position: absolute;    
    height: 13px;
}

div.attackCancelBar {
    background: none;
    border-style: groove;
    border-color: var(--attack-gray-color);
    border-width: 3px;
    position: absolute;
    height: 1px;
    top: 4px;
}

div.damageZone {
    display: flex;
    width: 200px;
}

div.damageTick {
    flex: 2;
    width: 10px;
    margin-bottom: 1px;
    background-color: var(--damage-color);
    border: 1px solid var(--attack-gray-color);
}

div.damageFraction {  
    flex: 1;  
    width: 10px;
    background-color: var(--halfdam-color);
    border: 1px solid var(--attack-gray-color);
}

div.damageZero{
    height: 10px;
    width: 10px;
    background-color: var(--attack-zero);    
    border: 1px solid var(--attack-gray-color);
}

div.damageCluster {
    height: 15px;
    width: 10px;
    display:flex;
    flex-direction: column;
}

div.damageUsedShield {
    height: 15px;
    width: 10px;
    background-color: var(--block-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}

div.damageUnusedShield {
    height: 15px;
    width: 10px;
    background-color: var(--attack-exblock);    
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}

div.damageSpacer {
    height: 10px;
    width: 5px;
}

div.file-icon::after {
    content: "🖫";
}

div.map-icon::after {
    content: "🗺";
}

div.settings-icon::after {
    content: "⚙";
}

div.help-icon::after {
    content: "⍰";
}

div.widget-icon {
    height: 21px;
    width: 21px;
    margin: 1px;
    font-size: 18px;
    border-width: 1px;
    border-style: outset;
    border-color: var(--main-fg-color);
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

div.widget-icon.widget-state-hidden {
    display: none;
}

div.widget-icon.widget-state-locked {
    border-style: solid;
    border-color: var(--gray-bg-color);
    color: var(--gray-bg-color);
}

div.widget-icon.widget-state-highlighted {
    height: 19px;
    width: 19px;
    border-width: 2px;
}

div.widget-icon.widget-state-opened {
    height: 19px;
    width: 19px;
    border-width: 2px;
    border-style: inset;
}

div.widget-icon.widget-state-normal:hover {
    height: 19px;
    width: 19px;
    border-width: 2px;
}

div.widget-modal {
    position: fixed;
    top: 33px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 9001;
}