div.topbar {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.topleft {
    width: 250px;
    height: 25px;
}

div.topright {
    width: 250px;
    height: 25px;
}

div.titlebar {
    height: 25px;
    width: calc(100vw - 500px);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

div.statusDisplay {
    white-space: pre-wrap;
    width:100%;
    margin: 3px;
}

div.statusWrapper {
    width: 100%;
    height: calc(100vh - 445px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y:auto;
}

div.leftStatus {
    width: 250px;
    min-height: calc(100vh - 525px);
    border-color: black;
    border-style: groove;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}
div.rightStatus {
    width: 250px;
    min-height: calc(100vh - 525px);
    border-color: black;
    border-style: groove;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

div.statusRow {
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
}

div.controlTable {
    position: absolute;
    bottom: 235px;
	width: 100%;
	height: 150px;
	background-color: lightgray;
	display: flex;
    flex-direction: row;
}

div.controlColumn {
	height: 100%;
	width: 150px;
	margin-right: 5px;
	display:flex; 
	flex-direction:column;
    overflow-x: visible;
}

div.ctrlLabel {
    min-height: 20px;
    margin-bottom: 5px;
    min-width: 150px;
}

div.saveList {
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
    background-color: dimgray;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

div.save {
    width: calc(100% - 30px);
    height: 100px;
    margin: 15px;
    background-color: whitesmoke;
    color: firebrick;
    white-space: pre-wrap;
}

div.refresher {
    height: 25px;
    width: 150px;
    text-align:center;
    background-color:ButtonFace;
    color:ButtonText;
}

input.actButton {
	width: 150px;
	height: 20px;
	margin-bottom: 5px;
}

div.cardBox {
    display: flex;
    flex-direction: row;
}

div.card {
    width: 145px;
    height: 145px;
    border-style: ridge;
    border-width: thick;
    white-space: pre;
}

div.selectedCard {
    border-style: double;
}

div.abjure {
    background-color: #AAAAFF;
    color: darkblue;
    border-color: darkblue;
}

div.acquire {
    background-color: gold;
    color: black;
    border-color: darkgoldenrod;
}

div.aggress {
    background-color: #FFAAAA;
    color: darkred;
    border-color: darkred;
}

div.assess {
    background-color: #AAFFAA;
    color: darkgreen;
    border-color: darkgreen;
}

div.apprehend {
    background-color: #FFDDAA;
    color: darkorange;
    border-color: darkorange;
}

div.worker {
    background-color:burlywood;
    color:saddlebrown;
    border-color: saddlebrown;
}

div.assist {

}

div.stack {
    width: 5px;
    height: 145px;
    border-style: ridge;
    border-left-style: none;
    border-width: thick;
}

@keyframes fade-in-from-top {
  0%   {background-color:black; height:0px;}
  100% {background-color:white; height:150px;}
}

div.div-help {
	width: 95%;
	position: absolute;
	top: 15px;
	left:2.5%;
	color: black;
	border-color: gray;
	border-style: ridge;
	animation-name: fade-in-from-top;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	white-space: pre-wrap;
}

@keyframes fade-out-to-top {
  0% { background-color:white; height:150px; opacity:1;}
  100%   {background-color:black; height:0px; opacity:0;}
}


div.div-unhelp {
	width: 95%;
	position: absolute;
	top: 15px;
	left:2.5%;
	color: black;
	animation-name: fade-out-to-top;
	animation-duration: 1s;
	opacity:0;
	overflow: hidden;
	white-space: pre-wrap;
}

div.screencover {
    position:fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);    
    display:flex;
    justify-content:center;
}

div.requantifier {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: black;
    background: white;
    display: flex;
    flex-direction: column;
}

div.requantifierRow {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input.requantify {
    width: 50px;
    height: 30px;
}

div.requantifierHeaderRow {
    height: 25px;
    display: flex;
    border-bottom-color: black;
    border-bottom-style: dashed;
    flex-direction: row;
    justify-content: space-between;
}

div.quantity {
    width:125px;
    text-align:right;
}

div.requantifierLeftColumnHeader {
    width: 500px;
    text-align: left;
}

div.requantifierRightColumnHeader {
    width: 500px;
    text-align: right;
}

div.requantifierHeaderSpacer {
    width: 250px;
    justify-content:center;
    display:flex;
}

div.reassigner {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: black;
    background: white;
    display: flex;
    flex-direction: row;
}

div.reassignerColumn {
    width: 450px;
    display: flex;
    flex-direction: column;
}

div.reassignerRow {
    height: 160px;
    display: flex;
    flex-direction: row;
}

div.reassignerLeftColumnHeader {
    width: 425px;
    text-align: left;
}

div.reassignerRightColumnHeader {
    width: 425px;
    text-align: right;
}

div.reassignerHeaderSpacer {
    width: 100px;
    justify-content: center;
    display: flex;
}


div.recombiner {
    position: center;
    width: 1000px;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    border: thick;
    border-color: black;
    background: white;
    display: flex;
    flex-direction: row;
}

div.recombinerColumn {
    width: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

div.recombinerRow {
    height: 160px;
    display: flex;
    flex-direction: row;
}

div.recombinerColumnHeader {
    width: 425px;
    text-align: left;
}

div.recombinerHeaderSpacer {
    width: 100px;
    justify-content: center;
    display: flex;
}

div.percentControl {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    margin-right: 3px;
    position: relative
}

div.percentText {
    position: absolute;
    justify-content: center;
    color: black;
}